<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCenter_SwiftTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
				<key>dateExpires</key>
				<string>2022/2/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KakaJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LineSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE31FB3F6EC4386E90393EAD6C3FA84ECBCB5BF8</string>
						<key>dateExpires</key>
						<string>2022/2/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UserCenterSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RX43BK2XZ6</string>
						<key>name</key>
						<string>Zan Hong Huang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RX43BK2XZ6.com.overseasgm.testnum</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>RX43BK2XZ6</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>UserCenterSwiftTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ad6e7d49-cb2f-4cd6-a152-af15751e7598</string>
				<key>name</key>
				<string>test_dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RX43BK2XZ6</string>
				<key>name</key>
				<string>Zan Hong Huang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
